For deployment on khios.dcs.gla.ac.uk

Python 2.7.5
Pip and setuptools
Ideally virtual environments should be set up to avoid conflict with other Python package installations
mod_wsgi - software component Apache uses to link the Python/Django project to the Apache webserver
Django==1.5.4
Pillow==2.6.0
django-chartit==0.1
simplejson==3.6.5

The version for virtualenv I have installed is:

virtualenv==1.9.1


1) Ensure that mod_wsgi is installed correctly
   https://code.google.com/p/modwsgi/wiki/QuickInstallationGuide
2) Follow the step-by-step guide on the Django website
   https://docs.djangoproject.com/en/1.5/howto/deployment/wsgi/modwsgi/